# server {
#     listen ${FEED_PORT_HTTPS} ssl;
#     http2 on;

#     ssl_certificate /etc/letsencrypt/live/${DOMAIN}/fullchain.pem;
#     ssl_certificate_key /etc/letsencrypt/live/${DOMAIN}/privkey.pem;
#     ssl_protocols TLSv1.2 TLSv1.3;
#     ssl_ciphers HIGH:!aNULL:!MD5;

#     location / {
#         return 301 https://$host$request_uri;
#     }
# }